header {
	display: block;
    background-color: #1abc9c;
    color: white;
    height: 100px;
    text-align: center;
    font-size: 30px;
}
section {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: stretch;
}
nav {
	display: flex;
    background-color: #3498db;
    color: white;
    width: 20%;
}
article {
	display: flex;
    background-color: #9b59b6;
    color: white;
    width: 80%;
}
footer {
	display: block;
    background-color: #e67e22;
    color: white;
    height: 100px;
    text-align: center;
    font-size: 30px;
}
